.bannerDiv{
    width: 100%;
    margin: auto;
    background-image: url('./banner-01.jpg');
    background-repeat: no-repeat;
    height: 420px;
    background-position-y: center;
    margin-top: 40px;
}